:root {
  --main-text-color: #E4E5EA;
  --main-bg-color: #0E1014;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  width: 1140px;
  margin: 0 auto;
}