:root {
  --main-text-color: #E4E5EA;
  --second-text-color: #656566;
  --main-bg-color: #0E1014;
  --main-button-color: #4077F3;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  width: 1140px;
  margin: 0 auto;
}

/* header */

.page-header {
  padding-top: 46px;
}

.page-header__nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.main-navigation__logo {
  display: block;
  width: 140px;
  height: 24px;
  margin-right: 53px;
}

.main-navigation__site-navigation {
  display: flex;
  max-width: 503px;
  margin: 0;
  margin-top: 7px;
  padding: 0;
  list-style: none;
}

.site-navigation__item:not(:last-child) {
  margin-right: 30px;
}

.site-navigation__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--main-text-color);
}

.site-navigation__link:hover {
  color: beige;
  text-decoration: underline;
  text-decoration-color: beige;
  opacity: 0.4;
}

.main-navigation__wrapper {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-left: auto;
}

.main-navigation__phone {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: var(--main-text-color);
}

.social {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation__socials {
  margin-left: 47px;
}

.social__item {
  width: 20px;
  height: 20px;
}

.social__item:not(:last-child) {
  margin-right: 30px;
}

.main-navigation__slogan {
  width: 181px;
  margin: 0;
  margin-top: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  color: var(--main-text-color);
}

/* main-contetn */

.main-content {
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
}

.main-content__right {
  display: flex;
  flex-direction: column;
}

.main-content__title {
  max-width: 365px;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: var(--main-text-color);
}

.main-content__title span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}

.main-content__text {
  max-width: 262px;
  margin: 0;
  margin-top: 30px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--main-text-color);
}

.main-content__slogan {
  max-width: 291px;
  margin: 0;
  margin-top: 18px;
  margin-left: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: var(--main-text-color);
}

.main-content__slogan span {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gifts {
  display: grid;
  grid-template-columns: 146px 153px;
  gap: 10px;
  row-gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-content__list {
  margin-top: 40px;
}

.gifts__header {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.gifts__text {
  margin: 0;
  margin-top: 6px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: var(--main-text-color);
}

.main-content__button {
  display: block;
  min-width: 262px;
  margin-top: 63px;
  margin-left: auto;
  padding-top: 18px;
  padding-bottom: 22px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--main-text-color);
  background-color: var( --main-button-color);
  cursor: pointer;
}

.main-content__button:hover {
  opacity: 0.4;
}

/* footer */

.page-footer {
  padding-top: 124px;
}

.page-footer a {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #E4E5EA;
}

.page-footer a:hover {
  color: beige;
  text-decoration: underline;
  text-decoration-color: beige;
  opacity: 0.4;
}

.page-footer h2 {
  margin: 0;
  margin-bottom: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.page-footer li:not(:last-child) {
  max-width: 195px;
  margin-bottom: 10px;
}

.page-footer address {
  display: block;
  margin-top: 9px;
}

.page-footer__row-top {
  display: flex;
}

.page-footer__col-menu {
  margin-left: 98px;
}

.page-footer__col-about ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__col-menu ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__col-menu a {
  white-space: pre;
}

.page-footer__col-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
}

.page-footer__col-contacts ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__col-contacts a {
  display: inline-block;
  margin-bottom: 21px;
}

.page-footer__col-contacts .social__item:not(:last-child) {
  margin-right: 10px;
}

.page-footer__row-bottom p {
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: var(--main-text-color);
}

.page-footer__row-bottom {
  margin-top: 20px;
}

.page-footer__row-bottom a {
  display: block;
  margin-top: 5px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  text-decoration-line: underline;
  color: var(--main-text-color);
}


/* mobile version */

@media (max-width: 1180px) {
  .container {
    width: 100%;
    padding-left: 14px;
    padding-right: 14px;
  }
}

@media (max-width: 750px) {

  .page-header__nav {
    justify-content: center;
  }

  .main-navigation__logo {
    display: none;
  }

  .main-navigation__site-navigation {
    width: 100%;
  }

  .main-navigation__wrapper {
    display: none;
  }

  .main-navigation__slogan {
    display: none;
  }

  .site-navigation__item:last-child {
    display: none;
  }

  .site-navigation__link {
    text-transform: uppercase;
  }

  .main-content {
    flex-direction: column;
    align-items: center;
    row-gap: 45px;
  }

  .main-content__button {
    margin-left: 0;
  }

  .page-footer__row-top {
    display: flex;
    flex-direction: column;
  }

  .page-footer__col-menu {
    margin-left: 0;
  }

  .page-footer__col-contacts {
    align-items: flex-start;
    margin-left: 0;
  }

  .page-footer__row-bottom p {
    text-align: left;
  }

  .page-footer__row-bottom a {
    text-align: left;
  }
}

@media (max-width: 500px) {
  .page-header {
    max-width: 100%;
    width: 320px;
    padding-top: 10px;
  }

  .site-navigation__item:not(:last-child) {
    margin-right: 6px;
  }

  .site-navigation__link {
    font-size: 13px;
    line-height: 16px;
  }

  .main-content {
    padding-top: 59px;
  }

  .main-content__title {
    font-size: 36px;
    line-height: 44px;
  }

  .main-content__title span {
    display: block;
    font-size: 36px;
    line-height: 44px;
  }

  .main-content__text {
    margin-top: 15px;
  }

  .main-content__slogan {
    margin-top: 0;
    margin-left: 0;
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .main-content__slogan span {
    text-transform: lowercase;
  }

  .main-content__list {
    margin-top: 20px;
  }

  .gifts {
    grid-template-columns: 109px 111px;
    row-gap: 14px;
    max-width: 280px;
  }

  .gifts__item {
    padding-left: 12px;
  }

  .gifts__item:nth-child(2) {
    order: 3;
  }

  .gifts__item:nth-child(3) {
    order: 1;
  }

  .gifts__item:nth-child(1) {
    order: 2;
  }

  .gifts__item:nth-child(4) {
    order: 4;
  }



  .gifts__header {
    font-size: 13px;
    line-height: 16px;
    text-align: initial;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  .gifts__text {
    display: none;
  }

  .main-content__button {
    display: none;
  }

  .page-footer {
    padding-top: 90px;
  }

  .page-footer__col-menu a {
    white-space: inherit;
  }

  .page-footer__col-menu h2 {
    margin-top: 30px;
  }

  .page-footer__col-menu ul {
    grid-template-columns: 96px 132px;
    column-gap: 48px;
  }

  .page-footer__col-contacts {
    margin-top: 30px;
  }
}